h1 {
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    letter-spacing: 5px;
}
 /*
 p(pをセレクタ){color(colorをプロパティ): red(値という。);}
 h1{font-size; 20px;}
 h1{font-size: 20px, color: blue;}
 などの書き方
 */
p {
    width: 50%;/*幅を指定*/
    line-height: 2;/*行の高さを指定*/
    display: inline-block;/*要素の表示形式の指定*/
    background-color: #03A9F4;/*背景の色を指定*/
    padding: 20px;/*パディングの指定*/
    /*
    marginもpaddingも要素の周りの余白を指定するもの
    padding : 要素の内側の余白
    margin :　要素の外側の余白
    https://saruwakakun.com/html-css/basic/margin-padding
    */

    position: relative;/*要素の配置方法*/
    z-index: 999;/*要素の重なりの順序の指定*/
    margin: 50px 0 0;
    color: #fff;
    letter-spacing: 2px;
}
 
a {
    color: #fff;
    text-decoration: none;
    background-color: #F44336;
    display: block;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #9e2b23;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin: 110px auto 0;
    letter-spacing: 2px;
}
 
h1::after {
    content: "";
    display: block;
    border-bottom: solid 5px #2196F3;
    position: absolute;
    width: 100px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -5px;
}
 
html {
    background-color: #a8e4ff;
}
 
body {
    background-color: #fff;
    padding: 30px 30px 30px;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    position: relative;
}
 
img {
    height: 300px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 30px;
}

.aka{
 color:red;
 font-size: 30px;
 font-family: 'Impact';   
}

.hello{
    font-size: 25px;
    font-family: 'sans-serif';
}
